<h1>Projeto Node</h1>

{{#each posts}}
<div class="card" style="">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{createdAt}}</h6>
        <p class="card-text">{{conteudo}}</p>
        <button type="button" data-toggle="modal" data-target="#DeleteModal{{id}}"
            class="btn btn-primary">Deletar</button>
    </div>
</div>

<div class="modal fade" id="DeleteModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel{{id}}"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel{{id}}">Atenção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja deletar essa postagem? essa ação é <center><b>IRREVERSÍVEL</b></center>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não, volte.</button>
                <a href="/deletar/{{id}}" class="btn btn-danger">Sim, Delete.</a>
            </div>
        </div>
    </div>
</div>

{{/each}}